body {
  font-family: "Cairo", sans-serif;
  background-color: #f4fff4;
  margin: 0;
  padding: 0;
  color: #2e7d32;
  text-align: center;
}

header {
  background-color: #388e3c;
  color: white;
  padding: 20px 0;
  font-size: 26px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.herbs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px;
}

.herb-card {
  background: white;
  width: 250px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.herb-card:hover {
  transform: scale(1.05);
  
}

.herb-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.price {
  font-weight: bold;
  color: #388e3c;
}

.buy-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  width: 80%;
  margin: 10px auto 20px;
  border-radius: 10px;
  cursor: pointer;
}

#cart-section {
  background: #e8f5e9;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
}

#cart-list {
  list-style: none;
  padding: 0;
}

#cart-list li {
  margin: 5px 0;
}

#order-form {
  background: white;
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.hidden {
  display: none;
}

form input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
}

form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  width: 95%;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  background-color: #2e7d32;
  color: white;
  padding: 15px;
  margin-top: 30px;
}
